@{
    ViewBag.Title = "Startseite";
}

<div class="jumbotron container">
    <h1>BIMSWARM Hackathon Template</h1>
    <p class="lead">Dieses Template ist eine Beispielanwendung zur Interaktion und zum Empfangen und Versenden von Dateien in einer BIMSWARM Toolkette. </p>
    <img src="~/images/hack.png" class="d-inline-block align-top align-content-center w-100" alt="">
</div>
