@using System.Configuration
@model Bimswarm.Models.ErrorViewModel

<div class="alert alert-danger">
    <h3 id="title">@Model.MessageTitle</h3>
    <p id="text" class="text-muted">@Model.MessageText</p>
    <hr />
    <h5>Details</h5>
    <p id="text-details" class="text-muted small">@Model.MessageTextDetails</p>
</div>

